# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Temporary files
*.tmp
*.bak
*~

# macOS
.DS_Store
__MACOSX/

# Data raw (muy pesado, mejor no subirlo)
data_raw/

# Thumbs
Thumbs.db
